*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: inherit;
	line-height: 1;
}

// colors
$white: #f5f1e9;
$darkgreen: #2a2f2b;
$skin: #ac9b93;
$gray: #cfc5bb;
$orange: #ee481e;

:root {
	font-size: 16px;
}

body {
	background-color: $darkgreen;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: $skin;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: $white;
}

@import "landingpage";
