*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: inherit;
}

:root {

}

body {
	font-family: 'Playfair Display', serif;
	//font-family: 'Montserrat', sans-serif;
}