*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: inherit;
}

// colors
$white: #f5f1e9;
$darkgreen: #2a2f2b;
$skin: #ac9b93;
$gray: #cfc5bb;
$orange: #ee481e;

:root {

}

body {
	font-family: 'Playfair Display', serif;
	//font-family: 'Montserrat', sans-serif;
}